        body {
            background: url("../img/background.png") no-repeat center center fixed;
            background-size: cover;
            text-align: center;
        }
        
        #cook {
            height: 200px;
            width: auto;
            display: block;
        }
        
        .btn1 {
            -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
            -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
            box-shadow: inset 0px 1px 0px 0px #ffffff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
            background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
            background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0);
            background-color: #ededed;
            -moz-border-radius: 24px;
            -webkit-border-radius: 24px;
            border-radius: 24px;
            border: 6px solid #858484;
            display: inline-block;
            cursor: pointer;
            color: #777777;
            font-family: Arial;
            font-size: 2em;
            padding: 0, 5%;
            text-decoration: none;
            text-shadow: 0px 0px 0px #ffffff;
            font-family: china;
            margin-left: 50%;
            margin-right: 50%;
            margin: auto;
        }
        
        .btn1:hover {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
            background: -moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background: -webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background: -o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background: -ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
            background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed', GradientType=0);
            background-color: #dfdfdf;
        }
        
        .cost {
            text-align: center;
            font-size: 1em;
            font-style: italic;
            background-color: rgb(87, 129, 3);
            margin: 10px;
            border-radius: 5px;
            color: white;
            margin-bottom: 2%;
            border: 5px solid green
        }
        
        #cookie {
            margin-left: 50%;
            margin-right: 50%;
            margin: auto;
        }
        
        .material {
            margin-left: 50%;
            margin-right: 50%;
            margin: auto;
        }
        
        h1 {
            font-family: china;
            color: rgb(255, 255, 255);
            font-size: 6em;
            padding-top: 2%;
            text-shadow: 8px 8px #4e4e4e;
        }
        
        .counter {
            font-size: 5em;
            font-family: china;
            color: white;
            background-color: rgb(71, 71, 71);
            border-radius: 10px;
            padding: 1%
        }
        
        @font-face {
            font-family: china;
            src: url("../fonts/ChineseDragon.ttf");
        }